.notification-panel {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;
    width: 300px;
    background-color: #c2c2c2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    max-height: 300px;
    overflow-y: scroll;
    transition: 0.3s ease;
}

#no-notification-msg {
    padding: 10px;
}

.notification-item {
    border-bottom: 1px solid grey;
    padding: 10px;
    background-color: rgb(197, 255, 218);
}

.notification-panel button {
    border: none;
    background: transparent;
}

.notification-panel img {
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
}

.notification-panel img:hover {
    transform: scale(1.1);
}

.read {
    background-color: white;
}

.notification-header {
    padding: 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-header h5 {
    margin: 0;
}

.close-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.close-btn:hover {
    background-color: #ccc;
}