h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

h3 {
    font-size: 1.3625rem;
    font-weight: 400;
    text-transform: capitalize;
}

.modal-body form input {
    margin-top: 10px;
    box-shadow: 0 0 3px #000;
    border-radius: 5px;
}