.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    backdrop-filter: blur(5px);
}

#overlay2 {
    z-index: 1000;
}

.control-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    transform: translate(-50%, -50%) scale(0.95);
    overflow-y: auto;
    z-index: 1000;
    background: white;
    font-family: Arial, sans-serif;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.control-panel.show {
    opacity: 1;
    max-height: 80vh;
}

.control-panel-header {
    background: #a2aee6;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.control-panel-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.control-panel-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 2% 2% 0% 2%;
    transition: background-color 0.1s ease;
}

.control-panel-item:last-child {
    margin-bottom: 0;
}

.control-panel-item h4 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.control-panel-item:hover {
    cursor: pointer;
    background-color: #e1e1e1;
    transform: scale(1.01);
}