.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    z-index: 999;
    /* ensure the overlay is above other elements */
    display: none;
    /* initially hidden */
    backdrop-filter: blur(5px);
}

.control-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 690px;
    max-width: 90%;
    height: auto;
    max-height: 80vh;
    /* Enable vertical scrolling if content exceeds max height */
    margin: 0 auto;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.control-panel-header {
    margin: auto;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 1%;
}


.control-panel-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.control-panel-content button {

    height: 15vh;
    margin: 1%;
    min-width: 200px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-self: flex-start;
}

.control-panel-content button:last-child {
    flex-grow: 1;
    /* Make the last button grow to fill remaining space */
}

.control-panel-content button:hover {
    box-shadow: 0px 0px 5px #6c757d;
}

.control-close-btn img {
    height: 20px;
}

.control-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.control-close-btn:hover {
    transform: scale(1.05);
}