body {
    background-color: #ffffff;
}

.dash-panels {
    background-color: #252525;
    color: rgb(234, 234, 234);
}

.brand-logo {
    filter: brightness(0.8);
}

.navbar {
    background-color: #7d7d7d !important;
}

.nav-custom {
    border-bottom: 1px solid rgb(58, 58, 58);
}

.admin-profile {
    background-color: #fff;
}

.profile-panel {
    background-color: transparent;
}

.notification-panel {
    border: none;
}

.notification-content {
    background-color: #424242;
}

.notification-header {
    background-color: #656565;
    ;
    color: white;
    border: none;
}

.clock {
    color: rgb(218, 218, 218);
}

.card {
    background-color: rgb(53, 53, 53);
    color: white;
}

.ex-panel {
    background-color: #252525;
}



.tab {
    border: 1px solid #3e3e3e;
}

.tab button {
    background-color: #656565;
    color: #fff;
}

.tab button:hover {
    opacity: 0.9;
}

.tab button.active {
    background-color: rgb(60, 60, 60);
    color: #fff;
}

.table-container {
    background-color: transparent;
}

.table1 th,
.table1 td,
.table2 th,
.table2 td {
    border: 1px solid rgb(76, 76, 76);
    color: rgb(255, 255, 255);
}

table {
    background-color: #2c2c2c;
}

.control-panel {
    background-color: #252525;
    border: none;
}

.control-panel-item:hover, .account-panel-item:hover {
    background-color: #373737;
}

.add-admin-dialog, .del-admin-dialog {
    background-color: #252525;
}

.add-admin-dialog input, .add-doctor input,
.add-admin-dialog input::placeholder, select,
.del-admin-dialog input, .del-admin-dialog table {
    background-color: #494949;
    color: #a4a4a4;
    border: 1px solid #494949 !important;
}

.add-admin-dialog input:focus, .add-doctor input:focus{
    background-color: #494949 !important;
    border: none !important;
    box-shadow: none !important;
}

.add-doctor {
    background-color: #252525;
}

.reportModal {
    background-color: #252525;
    color: white;
}

.reportModal .modal-header {
    border-bottom: 1px solid rgb(63, 63, 63);
} 

.reportModal .modal-footer {
    border-top: 1px solid rgb(63, 63, 63);
}

.remarks-panel {
    background-color: #252525 ;
}

.remarks-panel textarea {
    background-color: #464646;
}