.ex-panel {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30vw;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    height: auto;
    max-height: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
}

.ex-panel.show {
    max-height: 100%;
    opacity: 1;
}

.panel-header {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header-patient {
    background: #91b5cd;
}

.header-doctor {
    background: #bcbfa2;
}

.header-appointment {
    background: #a1d9b6;
}

.header-control {
    background: #a2aee6;
}

.header-report {
    background: #fd5f5c;
}

.header-add-account {
    background: #005086;
}

.panel-content {
    padding: 20px;
}

.panel-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.panel-item:last-child {
    margin-bottom: 0;
}

.panel-item h4 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.permanent {
    border-left: 5px solid #91b5cd;
    padding-left: 10px;
}

.visiting {
    border-left: 5px solid #bcbfa2;
    padding-left: 10px;
}

.onduty {
    border-left: 5px solid #a1d9b6;
    padding-left: 10px;
}

.panel-item p {
    color: #555;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    backdrop-filter: blur(5px);
}

#overlay2 {
    z-index: 1000;
}

.control-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    transform: translate(-50%, -50%) scale(0.95);
    overflow-y: auto;
    z-index: 1000;
    background: white;
    font-family: Arial, sans-serif;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.control-panel.show {
    opacity: 1;
    max-height: 80vh;
}

.control-panel-item, .account-panel-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 2% 2% 0% 2%;
    transition: background-color 0.1s ease;
}

.control-panel-item:last-child, .account-panel-item:last-child {
    margin-bottom: 0;
}

.control-panel-item h4, .account-panel-item h4 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.control-panel-item:hover, .account-panel-item:hover {
    cursor: pointer;
    background-color: #e1e1e1;
    transform: scale(1.01);
}

.reportModal {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30vw;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    height: auto;
    max-height: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    visibility: hidden;
    padding: 0 !important;
}

.reportModal.show {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
}