.menu-frame {
    width: 0;
    transition: width 0.3s ease-in-out;
}

.dash-menu {
    display: flex;
    flex-direction: column;/* Adjust the width as needed */
    height: 100vh !important;  /* Adjust the height as needed */
    background: linear-gradient(to bottom, #121212, #262626);
    width: 100%;
}

.dash-menu button {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    margin: 0% !important;
    padding: 2%;
    color: white;
    font-size: larger;
    background-color: transparent;
}


.dash-menu button:hover {
    /*     box-shadow: 0px 0px 5px #5b5b5b; */
    background-color: #5b5b5b;
}


.dash-menu button.active {
    /*     box-shadow: 0px 0px 5px grey; */
    background-color: rgb(125, 125, 125);
}

.dash-menu button img {
    margin-right: 5%;
}

.theme-div {
    margin-left: 25%;
}

.brand-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5% 0%;
    color: white;
}

.profile-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    padding-top: 5%;
    border-bottom: 1px solid grey;
}

.profile-panel p {
    margin: 0;
    color: white;
}

.profile-panel img {
/*     border: 2px solid white; */
    padding: 0;
    box-shadow: 0px 0px 10px grey;
    border-radius: 50%;
    width: 100px;
    margin-bottom: 4%;
}

.profile-designation {
    font-size: small;
}