.dash-menu {
    display: flex;
    flex-direction: column;
    width: 0%;
    transition: width 0.5s ease;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, #031e30, #01421c); */
    background: linear-gradient(to bottom, #282828, #5b5b5b);
    height: 100vh;
}

.dash-menu.open {
    width: 20%;
}

.dash-menu button {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    border: 1px solid transparent;
    margin: 0% !important;
    padding: 2%;
    color: white;
    font-size: larger;
    background-color: transparent;
}


.dash-menu button:hover {
    /*     box-shadow: 0px 0px 5px #5b5b5b; */
    background-color: #5b5b5b;
}


.dash-menu button.active {
    /*     box-shadow: 0px 0px 5px grey; */
    background-color: rgb(125, 125, 125);
}

.dash-menu button img {
    margin-right: 5%;
}

.brand-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.dark-mode-button {
    margin-right: 3%;
    margin-top: 4%;
}

.profile-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin-top: 5%;
}

.profile-panel p {
    margin: 0;
    color: white;
}

.profile-panel img {
/*     border: 2px solid white; */
    padding: 0;
    box-shadow: 0px 0px 10px grey;
    border-radius: 50%;
    width: 100px;
}

.profile-designation {
    font-size: small;
}

.dash-menu button {
    margin: 0%;
    border-radius: 0px;
}