.notification-panel {
  display: none;
  position: absolute;
  top: 60px;
  right: 50px;
  width: 300px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  max-height: 300px;
  overflow-y: scroll;
  transition: 0.3s ease;
}

#no-notification-msg {
  padding: 10px;
}

.notification-item {
  border-bottom: 1px solid grey;
  padding: 10px;

}

.notification-functions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.notification-time {
  margin-left: auto;
  font-size: small;
  color: rgb(44, 160, 255);
  font-weight: 600;
}

.notification-panel button {
  border: none;
  background: transparent;
}

.notification-panel img {
  margin-bottom: 5px;
  height: 20px;
  width: 20px;
}

.notification-panel img:hover {
  transform: scale(1.1);
}

.read,
.read .notification-time {
  color: #a9a9a9;
}

.notification-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-header h5 {
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.close-btn:hover {
  background-color: #ccc;
}