.reportHeader {
    background: #73b0df;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.saveBtn {
    text-align: right;
}

.reportPage {
    background-color: #fff;
    margin-top: 25px;
    box-shadow: 0 0 10px #c0c0c0;
    height: auto;
    /* margin-bottom: 50px; */
    border: none;
    border-radius: 10px;
}

.reportPage h1 {
    text-align: center;
    padding: 10px;
}

#moduleReport,
#monthReport {
    width: 150px;
    height: 30px;
    margin-left: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    height: 40px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    margin-right: 2px;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}

/* Bar Chart */
.barChart {
    justify-content: center;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 15px auto;
    height: auto;
}

.bar {
    background-color: #64c0c3;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.bar1 {
    background-color: #256825;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.bar2 {
    background-color: #FF6347;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

#bChart-msg {
    margin-left: 150px;
}

/* Pie Chart */
.pieChart {
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 15px auto;
    height: auto;

}

#pChart-msg {
    margin-left: 150px;
}

.pie-chart {
    margin-top: 100px;
    margin-left: 220px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(#64c0c3    0% 25%,
            #256825  25% 50%,
            #FF6347  50% 100%);
}

.pie-chart::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.legend {
    margin-top: 60px;
    margin-left: 130px;
}

.legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.legend .green {
    background: #256825;
}

.legend .blue {
    background: #64c0c3;
}

.legend .orange {
    background: #FF6347;
}

.legend div {
    margin-left: 15px;
}


.cls button {
    margin-left: 50px;
}

#generateBtn {
    margin-left: 50px;
    height: 40px;
}