#reportModal {
    margin-top: 150px;
}

.rBtnDiv {
    margin-top: 30px;
    padding: 25px;
    background-color: antiquewhite;
}

.saveBtn {
    text-align: right;
}

.reportPage {
    background-color: beige;
    margin-top: 25px;
    box-shadow: 0 0 3px #000;
    height: auto;
    margin-bottom: 50px;
}

.reportPage h1 {
    text-align: center;
    padding: 10px;
}

/* Bar Chart */
.chart {
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 3px #000;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }

  .bar {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 5px;
  }

  /* Pie Chart */
